.DS_Store
.Trashes
*.swp
*.lock
*~.nib
DerivedData/
build/
# .pbxuser: http://lists.apple.com/archives/xcode-users/2004/Jan/msg00193.html
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
xcuserdata/
*.moved-aside
*.xcodeproj/project.pbxproj
contents.xcworkspacedata
node_modules
out/
